<html>
    <head>
        <title>Lim's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Lim's Blog</a></h1>
        </div>

        <div>
            <p>published: 01.11.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>What I have to do?</p>
        </div>

        <div>
            <p>published: 02.11.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Do not just pursue money, pursue your dream.</p>
        </div>
    </body>
</html>